body {
  background-color: black;
  color: #ccc;
  font-family: "Roboto Mono", monospace;
  display: flex;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

h3 {
  text-align: center;
}

#canvas-container {
  position: relative;
  height: 460px;
  width: 420px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameCanvas,
#backgroundCanvas {
  position: absolute;
  top: 0;
  left: 0;
}

#lives {
  padding-top: 15px;
}

.pacman-life {
  width: 25px;
  height: 25px;
  background-image: url("../assets/pacman_closed.png");
  display: inline-block;
  background-size: cover;
}

input {
  position: absolute;
  display: none;
  z-index: 1;
}

#userInput {
  background: transparent;
  color: white;
  font-size: 24px;
  font-family: "Roboto Mono", monospace;
  text-align: left;
  border: none;
  outline: none;
  width: 90px;
  letter-spacing: 15px;
  text-transform: uppercase;
  display: none;
  margin-top: -80px;
}

#leaderboard {
  position: absolute;
  display: none;
  z-index: 1;
  width: 250px;
  background: transparent;
  color: white;
  top: 100px;
}

#leaderboard ul {
  display: flex;
  flex-direction: column;
  padding: 10px;
  list-style-type: none;
}

#leaderboard li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

#leaderboard li span {
  width: 80px;
}

#leaderboard li span:nth-last-child(2) {
  text-align: center;
}

#leaderboard li span:last-child {
  width: auto;
  flex-grow: 1;
  text-align: right;
}
